@keyframes loader {
  0% {
    background: #313058;
  }

  100% {
    background: #D2361D;
  }
}

.LoadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 35px;
  animation: loader alternate 2s infinite;  
  transform: translate3d(-50%, -50%, 0);
  padding: 21px;
}
