.App {
  display: flex;
}

nav {
  display: flex;
  padding: 10px 0;
  justify-content: center;

  a {
    padding: 0 13px;

    &,
    &:active,
    &:visited {
      color: #333333;
    }

    &:hover {
      color: #313058;
    }
  }
}

.Container {
  margin: 10px auto auto auto;
  position: relative;
}
