@keyframes shrink {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

.Locator {
  display: none;
  animation: shrink 500ms linear forwards;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #D2361D;
  border-radius: 20px;
  /* Half of locator + half of font size */
  margin-left: -14px;
  /* Half of locator - half of font size */
  margin-top: -26px;
}

.Locator--peer {
  border-color: #313058;
}

.Square {
  height: 800px;
  width: 800px;
  box-shadow: 0 0 16px 0px #c3c3c3
}

.Input {
  width: 90vw;
  font-size: 21px;
}

.InputContainer {
  display: none;
}

@media (max-width: 959px) {
  .InputContainer {
    display: block;
  }

  .Square {
    height: 90vw;
    width: 90vw
  }
}